/* body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
} */

nav a {
    background-color: black;
}

nav a:hover {
    background: teal;
    color: white;
    text-decoration: underline;
    
}

/* Hero Style Start */

/* .hero {
    background-image: url("../images/mountains.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    min-height: 15rem;
}


/* Hero Style End */

/* #hero3-img {
    max-height: 15rem;
} */ 

.slider {
    background-position: 80%;
}

h3 {
    animation: bounce; 
    animation-duration: 2s;
}

h5 {
    animation: heartBeat; 
    animation-duration: 2s;
}

/* Google Maps Styling */

#map {
    height: 50%;
    width: 50%;
    margin: auto;
}

#StoreList {
    text-align: center;
    font-size: x-large;
    color: blue;
}


/* Store List and Selected Store Detail Styling */

html,
body {
    height: 100%;
    margin: 1;
    padding: 1;
}